* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-wrapper a {
  text-decoration: none;
  font-family: Roboto;
  font-style: regular;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 1px;
  color: #000000;
}

.logo__link-color {
  color: #4bcaff;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  background-color: #35444f;
}

.nav__menu {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: solid 1px #ffffff;
}

.nav__item {
  display: flex;
  padding: 26px 38px 19px 38px;
  font-family: Roboto;
  font-style: regular;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  border: solid 1px #ffffff;
  color: #ffffff;
}

.nav__menu :hover {
  background-color: #222f3a;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 48px;
}

.asidebar {
  display: flex;
  flex-direction: column;
}

.asidebar__menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  border: solid 1px #485863;
}

.asidebar__menu-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 342px;
  height: 81px;
  padding-left: 44px;
  font-family: Roboto;
  font-style: regular;
  font-size: 27px;
  line-height: 27px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 300ms ease-in-out;
  color: #485863;
}

.asidebar__menu :hover {
  padding-left: 60px;
  font-weight: bold;
  background-color: #dbdbdb;
}

.main {
  display: flex;
  flex-direction: column;
  width: 885px;
}

.main__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 529px;
  border: 1px solid black;
}

.main__image {
  transition: 500ms ease-in-out;
}

.main__image:hover {
  scale: 1.1;
}

.content__image {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  border: solid 1px #485863;
}

.main__text {
  margin-top: 34px;
  font-family: Roboto;
  font-style: regular;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: solid 1px #2c2c2c;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  margin-top: 50px;
  background-color: rgba(99, 105, 110, 0.48);
}

.footer__menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style: none;
}

.footer__menu-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
  font-family: Roboto;
  font-style: regular;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 300ms ease-in-out;
  color: #0c1927;
}

.footer__menu :hover {
  text-decoration: underline;
  color: #3181a6;
}

.footer_rights {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 251px;
  margin-right: 40px;
  font-family: Roboto;
  font-style: regular;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;
  color: solid #010101;
}
